# IDE :
# -----
# - [Eclipse]
.settings/
.metadata/
target/
.project
.classpath

# - [IntelliJ]
.idea/codeTest_Scala.iml
.idea/*.xml
Courses/**/*.iml
Books/**/*.iml

# Languages :
# -----------
# - [Scala]
out/
**/lib_managed/jars/
# - SBT
project/target/