# IDE :
# -----
# - [Eclipse]
.settings/
.metadata/
target/
.project
.classpath

# - [IntelliJ]
.idea/encodings.xml
.idea/hydra.xml
.idea/vcs.xml
Courses/**/*.iml
Books/**/*.iml
!Books/Book_Functional Programming in Scala/*.iml
!Books/Book_Odersky_ProgrammingInScala/*.iml

# Languages :
# -----------
# - [Scala]
out/
**/lib_managed/jars/
# - SBT
project/target/